<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desapeguei</title>
    <link rel="stylesheet" href='/stylesheets/perfil.css'>
</head>
<body>
    <header id="header-perfil">

      <section id="topoSite">

        <div class="botoesLateralEsq">
          <div class="divLogo">
            <img id="logoSite" src="../public/images/logoSite.png">
          </div>
        </div>

      </section>

    </header>
    <section id="container-perfilp">
        <h1>Meu Cadastro</h1>
        <article id="container-perfil">
            <form action="" id="formperfil">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
                <label for="email">Alterar E-mail</label>
                <input type="email" name="email" id="email">
                <label for="email">Alterar Senha</label>
                <input type="password" name="password" id="password">
                <label for="email">Confirmar Nova Senha</label>
                <input type="password" name="password" id="password">
                <label for="contato">Contato</label>
                <input type="text" name="contato" id="contato">
                <label for="localizacao">Localização</label>
                <input type="text" name="localizacao" id="localizacao">
                <label for="permitir">Permitir Utilizar  Localização</label>
                <input type="checkbox" name="permitir" id="permitir">
                <br>
            </form>
            <input type="submit" value="Cadastrar Novo Produto">
          </nav>
            <hr>
        </article>
    </section>

    <div class=corpoPerfil>

      <section class="prodC">

        <div class="exibeProd">

          <div class="tituloProd">Cadeira com apoio para os pés</div>
          <div class="lay2col">
            <div class="imgProd">
              <img src="/public/images/imagemProduto.png" alt="Imagem do Produto">
            </div>
            <div class="descrProd">
              <div class="estrelaProd">
                <img src="/public/images/avaliacaoProd.png" alt="Classificação do produto">
              </div>
              <div class="precoProd">
                R$ 320,00 ou </br> 10x R$ 32,00
              </div>

            </div>

          </div>
          <hr>
          <div class="tituloProd">Cama King Size</div>
          <div class="lay2col">
            <div class="imgProd">
              <img src="/public/images/img-cama.png" alt="Imagem do Produto">
            </div>
            <div class="descrProd">
              <div class="estrelaProd">
                <img src="/public/images/avaliacaoProd.png" alt="Classificação do produto">
              </div>
              <div class="precoProd">
                R$ 320,00 ou </br> 10x R$ 32,00
              </div>

            </div>

          </div>
          
        </div>

      </section>

      <footer>
        ©Desapeguei LTDA - Rua do Azul, 1000, Azulzin - 00000-000 - Rio de Janeiro, RJ
      </footer>


    </div>



</body>

</html>